body{
    width: 100%;
    background:#f7f7f7;
    margin: 0 auto;
    padding: 0 auto;
    font-size:12px;
}
/* 头部 */
.head_box{
    width:  1200px ;
    height: 124px;
    background:white;
    margin:auto;
}
.head_box_left{
    width: 600px;
    height: 124px;
    float: left;
}
.head_box_left .img{
    vertical-align: middle;
}
.head_box_right{
    width: 600px;
    height: 124px;
    float: right;
}
.head_box_top{
    width: 600px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    color:#a0a0a0;
}
.head_box_right>ul{
    display: flex;
}
.head_box_right>ul>li{
    width: 115px;
    height: 54px;
    /* background:#f5f5f5; */
    font-weight: bolder;
    line-height: 54px;
}


/* 导航 */
.nav_box{
    width: 100% ;
    height: 48px;
    border-bottom: 2px solid #f1f1f1;
}
.nav_box .nav{
    width: 1200px;
    height: 48px;
    margin:auto;
}

.nav_box .nav ul{
    display: flex;
}

.nav_box .nav ul li{
    width: 85px;
    height: 48px;
    text-align: center;
    line-height: 48px;
}
.nav_box .nav ul li:nth-child(2){
    color: #21b8c6;
    /* height: 50px; */
    border-bottom: 2px solid #21b8c6;
}

/* 主体 */
section{
    width: 1200px;
    margin: auto;
}
.sec_box{
    margin-top: 82px;
    width: 1200px;
    height: 216px;
}
.sec_box .box{
    width: 600px;
    height: 216px;
    float: left;
}